{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
    <meta name="viewport" content="width=device-width">
    {% block css %}{% endblock %}
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

<div class="dateblock3">
    <div class="dateblock2">
        <div class="day" id="currentDay"></div>
        <div class="dateblock">
            <div class="dateblock2">
                <div class="text2" id="currentMonth"></div>
                <div class="text2" id="currentYear"></div>
            </div>
            <div class="text2" id="currentDayOfWeek"></div>
        </div>
    </div>
</div>
<script>
  var yearElement = document.getElementById('currentYear');
  var monthElement = document.getElementById('currentMonth');
  var dayElement = document.getElementById('currentDay');
  var dayOfWeekElement = document.getElementById('currentDayOfWeek');

  setInterval(function () {
    var currentDate = new Date();

    var year = currentDate.getFullYear();
    var month = currentDate.toLocaleString('ru-RU', { month: 'long' });
    var day = currentDate.getDate();
    var dayOfWeek = currentDate.toLocaleString('ru-RU', { weekday: 'long' });

    yearElement.textContent = year;
    monthElement.textContent = month;
    dayElement.textContent = day;
    dayOfWeekElement.textContent = dayOfWeek;
  }, 1000);
</script>
<div class="block">
    <form method="post">
        {% csrf_token %}
        <div class="dateblock3">
            <div class="text">Подъём:</div>
            <div class="text"><span id="selectedTime1"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider1" name="slider1">
        </div>

        <div class="dateblock3">
            <div class="text">Гигиенические процедуры:</div>
            <div class="text"><span id="selectedTime2"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider2" name="slider2">
        </div>

        <div class="dateblock3">
            <div class="text">Спорт:</div>
            <div class="text"><span id="selectedTime3"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider3" name="slider3">
        </div>

        <div class="dateblock3">
            <div class="text">Завтрак:</div>
            <div class="text"><span id="selectedTime4"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider4" name="slider4">
        </div>

        <div class="dateblock3">
            <div class="text">Сборы на учебу:</div>
            <div class="text"><span id="selectedTime5"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider5" name="slider5">
        </div>

        <div class="dateblock3">
            <div class="text">Прогулка:</div>
            <div class="text"><span id="selectedTime6"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider6" name="slider6">
        </div>

        <div class="dateblock3">
            <div class="text">Транспорт:</div>
            <div class="text"><span id="selectedTime7"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider7" name="slider7">
        </div>

        <div class="dateblock3">
            <div class="text">Выполнение домашней работы:</div>
            <div class="text"><span id="selectedTime8"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider8" name="slider8">
        </div>

        <div class="dateblock3">
            <div class="text">Подготовка к занятиям:</div>
            <div class="text"><span id="selectedTime9"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider9" name="slider9">
        </div>

        <div class="dateblock3">
            <div class="text">Подготовка к экзаменам:</div>
            <div class="text"><span id="selectedTime10"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider10" name="slider10">
        </div>

        <div class="dateblock3">
            <div class="text">Лекционные занятия:</div>
            <div class="text"><span id="selectedTime11"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider11" name="slider11">
        </div>

        <div class="dateblock3">
            <div class="text">Практические занятия:</div>
            <div class="text"><span id="selectedTime12"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider12" name="slider12">
        </div>

        <div class="dateblock3">
            <div class="text">Лабораторные работы:</div>
            <div class="text"><span id="selectedTime13"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider13" name="slider13">
        </div>

        <div class="dateblock3">
            <div class="text">Дополнительное образование:</div>
            <div class="text"><span id="selectedTime14"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider14" name="slider14">
        </div>

        <div class="dateblock3">
            <div class="text">Работа/подработка:</div>
            <div class="text"><span id="selectedTime15"></span></div>
            <input type="range" min="0" max="72" value="0" step="1" class="slider" id="timeSlider15" name="slider15">
        </div>

        <button type="submit" formaction="/test/save_morning/" class="save-btn">cохранить</button>
    </form>
</div>
<script>
    const timeSlider1 = document.getElementById('timeSlider1');
    const selectedTime1 = document.getElementById('selectedTime1');

    timeSlider1.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime1.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider2 = document.getElementById('timeSlider2');
    const selectedTime2 = document.getElementById('selectedTime2');

    timeSlider2.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime2.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider3 = document.getElementById('timeSlider3');
    const selectedTime3 = document.getElementById('selectedTime3');

    timeSlider3.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime3.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider4 = document.getElementById('timeSlider4');
    const selectedTime4 = document.getElementById('selectedTime4');

    timeSlider4.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime4.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider5 = document.getElementById('timeSlider5');
    const selectedTime5 = document.getElementById('selectedTime5');

    timeSlider5.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime5.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider6 = document.getElementById('timeSlider6');
    const selectedTime6 = document.getElementById('selectedTime6');

    timeSlider6.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime6.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider7 = document.getElementById('timeSlider7');
    const selectedTime7 = document.getElementById('selectedTime7');

    timeSlider7.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime7.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider8 = document.getElementById('timeSlider8');
    const selectedTime8 = document.getElementById('selectedTime8');

    timeSlider8.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime8.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider9 = document.getElementById('timeSlider9');
    const selectedTime9 = document.getElementById('selectedTime9');

    timeSlider9.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime9.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider10 = document.getElementById('timeSlider10');
    const selectedTime10 = document.getElementById('selectedTime10');

    timeSlider10.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime10.textContent = hours1 + " : " + minutes1;
    });

        const timeSlider11 = document.getElementById('timeSlide11');
    const selectedTime11 = document.getElementById('selectedTime11');

    timeSlider11.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime11.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider12 = document.getElementById('timeSlider12');
    const selectedTime12 = document.getElementById('selectedTime12');

    timeSlider12.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime12.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider13 = document.getElementById('timeSlider13');
    const selectedTime13 = document.getElementById('selectedTime13');

    timeSlider13.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime13.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider14 = document.getElementById('timeSlider14');
    const selectedTime14 = document.getElementById('selectedTime14');

    timeSlider14.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime14.textContent = hours1 + " : " + minutes1;
    });

    const timeSlider15 = document.getElementById('timeSlider15');
    const selectedTime15 = document.getElementById('selectedTime15');

    timeSlider15.addEventListener('input', function() {
        const hours1 = Math.floor(this.value / 3);
        const minutes1 = (this.value % 3) * 20;
        selectedTime15.textContent = hours1 + " : " + minutes1;
    });

</script>
    <div class="grid">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
